html{
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  /* background: url('https://asset.barrons.com/public/resources/images/ON-DE793_201909_G_20190830121038.gif') no-repeat center fixed; */
  background-color: rgb(58, 56, 63) !important;
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}

#myStockPageDiv{
  width: 100%;
  height: 100%;
}

.columnTitles{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:white;
}

.shadowing {
  text-shadow:
    -1px -1px 0 rgb(87, 85, 85),
    1px -1px 0 rgb(87, 85, 85),
    -1px 1px 0 rgb(87, 85, 85),
    1px 1px 0 rgb(87, 85, 85);
}
.myColDivs{
  display: block;
}
#root{
  width: 100%;
  height: 100%;
}

#homePage{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  text-decoration: underline red;
  width: 100%;
  height: 100%;
}

#contactPage{
  width: 100%;
  height: 100%;
}

.nav-link{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  color: white !important;
}

.navbarGradient{
  background-image: linear-gradient(darkred, grey);
}

#contactPageParagraph{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:white;
}

.blueText{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:lightblue;
}

#xValues{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:white;
}

#yValues{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:white;
}

#homePageHeading{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:white;
}

#contactPageHeading{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:white;
}

#stockPageHeading{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:white;
}

.longinListDiv{
  text-align:center;
}

.list{
  border-radius: 35%;
  border: 2px solid black;
  background-image: linear-gradient(darkred, grey);
}

#Submit{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  background-color: rgb(58, 56, 63) !important;
  border-color: black !important;
}

.longinListDiv ul{
  margin-top: 10%;
  display: inline-block;
}
ul.list{
  list-style-type: none;
  text-align: center;
}
ul.list li{
  font-size:30px;
  width: 500px;
  text-align: center;
}

::placeholder{
  font-size: 20px;
  text-align: center;
}

input{
  border-radius: 35px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
}

#PageNotFoundImage{
  height: 100%;
  width: 100%;
}

/* Slideshow container */
.slideshow-container {
  height: 35%;
  width: 25%;
  position: relative;
}

/* Hide the images by default */
.mySlides{
  height: 100%;
  width: 100%;
  display: none;
}

.mySlides img{
  height: 100%;
  width: 100%;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white !important;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  opacity: 30%;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

Plot{
  width: 50%;
  height: 10%;
}

/* * {box-sizing:border-box} */


/* The dots/bullets/indicators */
/* .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
} */

/* .active, .dot:hover {
  background-color: #717171;
} */

/* Fading animation */
/* .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
} */

/* @-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
} */

/* @keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
} */

/* Caption text */
/* .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
} */